<div class="side_nav sidebar-nav" data-spy="affix" data-offset-top="150">
  <h3 class="main_menu group">
      <span class="title">Main Menu</span>
      <a id="nav_list_btn" class="btn-collapse btn btn-inverse">
        <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>              
      </a>
  </h3>
  <ul class="nav nav-list">
    <li {if $selected=='home'}class="active"{/if}><a class="home" href="/Home">Home</a></li>
    <li {if $selected=='tasks'}class="active"{/if}><a class="forms" href="/Tasks">Tasks</a></li>
  </ul>
</div><!--/.well -->
