<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav main_nav" role="navigation">
          <li id="menu" class="styled dropdown home">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-reorder"></i>
            </a>
            <ul class="dropdown-menu top_menu">
              {include file="phoenix/sections/top-menu.html"}
            </ul>
          </li>
        </ul>
        <ul class="main_nav nav pull-right">
            <li id="profile" class="styled dropdown profile">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user"></i>
              </a>
              <ul class="dropdown-menu top_menu">                        
                  <li class="profile group">
                    <ul>
                      <li><strong>{$user->name}</strong></li>
                      <li>{$user->email}</li>
                    </ul>
                  </li>
                  <li><a class="mn_logout" href="/Logout"><span>Logout</span></a></li>
              </ul>
            </li>                          
        </ul>           
      </div>
      <h1 class="brand"><a href="/">Oceania</a></h1>
    </div>
  </div>
</div>
