{include file="phoenix/sections/meta.html"}
<body>
{include file="phoenix/sections/top-bar.html"}
<div class="container">

  {include file="phoenix/sections/modal.html"}

  <div class="main_content row-fluid">

    <div class="span12">
          
      <ul class="breadcrumb br_styled no_space">                              
        <li class="active">{$title}</li>
      </ul>
      <br/>
      {include file="phoenix/pages/$page.html"}
      
    </div><!--/span-->
  </div><!--/row-->      

  {include file="phoenix/sections/footer.html"}

</div><!--/.fluid-container-->

</body>
</html>
