
<div class="row-fluid">
	<div class="span12">
		<button class="btn btn-success span 12" onClick="addTask();">
			<i class="fa fa-plus-circle"></i> Add Task
		</button>
	</div>
</div>
<br/>

<div class="row-fluid">
	<div id="list-backlog" class="span2"></div>
	<div id="list-todo" class="span2"></div>
	<div id="list-wip" class="span2"></div>
	<div id="list-homolog" class="span2"></div>
	<div id="list-hold" class="span2"></div>
	<div id="list-done" class="span2"></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	LoadOnDiv("/Tasks/FromStatus/3", "#list-wip");
	LoadOnDiv("/Tasks/FromStatus/2", "#list-todo");
	LoadOnDiv("/Tasks/FromStatus/1", "#list-backlog");
	LoadOnDiv("/Tasks/FromStatus/4", "#list-hold");
	LoadOnDiv("/Tasks/FromStatus/6", "#list-homolog");
	LoadOnDiv("/Tasks/FromStatus/5", "#list-done");
});
</script>
