/* --- GENERAL --- */
.pointer {
	cursor: pointer;
}
.fa-circle.active {
	color: green;
}
.fa-circle.inactive {
	color: red;
}

/* --- NAV BAR --- */
.navbar .main_nav > li > a {
	font-size: 20px;
	color: #DDD;
	text-shadow: 0 1px 0 #777;
}
.navbar .main_nav > li > a > i {
	margin: 0 15px;
}
.top_menu a span i {
	margin-right: 7px;
	font-size: 16px;
}

textarea {
	height: 170px;
}

/* TASKS */
.task-list section {
	min-height: 100px;
}
.task-card {
	margin: 5px;
	padding: 7px;
	border: 1px solid #AAA;
	border-radius: 5px;
	cursor: default;
	background-color: #FFF;
}

.task-card hr {
	margin: 0;
}
.task-card-action {
	text-align: right;
	font-size: 16px;
}
.task-card-action i {
	cursor: pointer;
}

.task-box .control-box {
	margin-bottom: 0;
}
.task-box .well {
	margin-bottom: 5px;
}
.task-box .form-actions {
	margin-top: 5px;
}

.add-task-status {
	float: right;
	margin: 10px 10px;
	font-size: 16px;
	cursor: pointer;
}
.add-task-status:hover {
	color: #ff9e02;
}

.all-tasks .task-project-card {
	padding-top: 5px;
	text-align: right;
}
.all-tasks .task-project-card span {
	font-size: 9px;
	color: #FFF;
	background-color: #777;
	padding: 2px 10px;
	border-radius: 5px;
}

.btn-task-section {
	width: 100%;
	margin: 0;
}
