/* --- NAV BAR --- */
.navbar .main_nav > li > a {
	font-size: 20px;
	color: #DDD;
	text-shadow: 0 1px 0 #777;
}
.navbar .main_nav > li > a > i {
	margin: 0 15px;
}
.top_menu a span i {
	margin-right: 7px;
	font-size: 16px;
}

.task-card {
	margin: 5px;
	padding: 7px;
	border: 1px solid #AAA;
	border-radius: 5px;
}

.task-card hr {
	margin: 0;
}
.task-card-action {
	text-align: right;
}
.task-card-action i {
	cursor: pointer;
}

textarea {
	height: 170px;
}
