{include file="phoenix/sections/meta.html"}
<body>
{include file="phoenix/sections/top-bar.html"}
  <div class="container">        
    <div class="row-fluid">
      <div class="span12">
        <div class="error_container">
          <h1>500</h1>
          <h2>Server Error !</h2>
          <hr>
          <p>Please try the following options instead:</p>
          <ul>
            <li><a class="btn btn-small btn-inverse" href="index.html">Go to dashboard</a></li>
            <li><a class="btn btn-small btn-inverse" href="#">Go to website</a></li>
          </ul>
        </div>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/.fluid-container-->
{include file="phoenix/sections/footer.html"}

