	<section class="row-fluid">
		<form class="well form-horizontal" id="add-task" onsubmit="return saveTask();">
			<fieldset>
				<div class="control-group">
					<input class="span12" type="text" id="title" name="title" value="{$task->title}" required placeholder="Title" />
					<input type="hidden" name="id" id="task-id" value="{$task->id}" />
				</div>
				<div class="control-group">
					<textarea id="text" name="text" class="span12">{$task->text}</textarea>
				</div>
				<!--div class="control-group">
					<label class="control-label">Project</label>
					<div class="controls">
						<input class="span12 disabled" id="project" type="text" placeholder="{$project->name}" disabled />
						<input type="hidden" name="project_id" id="project_id" value="{$project->id}"/>
					</div>
				</div>
				<div class="control-group">
					{html_options name=status_id class="span12" options=$status selected=$task->status_id}
				</div-->
				<div class="form-actions">
					<button type="submit" class="btn btn-success">
						<i class="fa fa-save"></i> Save
					</button>
					{if $task->id}
					<button class="btn btn-danger" onClick="deleteTask(); return false;" > 
						<i class="fa fa-trash-o"></i> Delete
					</button>
					{/if}
				</div>
			</fieldset>
		</form>
	</section>

