<div class="span12 row-fluid">
	<div class="widget table_basic_header span12">
		<header>
			<h3>{$done->name}</h3>
		</header>
		<section class="sortable" id="task-list-{$done->id}" data-status-id="{$done->id}"></section>
		<button class="btn btn-task-section" onClick="refreshCards({$done->id}, this);">
			<i class="fa fa-refresh"></i> Load {$done->name} tasks
		</button>
	</div>
</div>
<div class="span12 row-fluid">
		<div class="widget table_basic_header span12">
		<header>
			<h3>{$archived->name}</h3>
		</header>
		<section class="sortable" id="task-list-{$archived->id}" data-status-id="{$archived->id}"></section>
		<button class="btn btn-task-section" onClick="refreshCards({$archived->id}, this);">
			<i class="fa fa-refresh"></i> Load {$archived->name} tasks
		</button>
	</div>
</div>
