<div class="row-fluid">
	<div class="widget table_basic_header span12">
		<header>
			<h3>{$done->name}</h3>
		</header>
		<section class="sortable" id="task-list-{$done->id}" data-status-id="{$done->id}"></section>
		<button class="btn btn-task-section" onClick="refreshCards({$done->id}, this); $('#bt-archive').slideToggle()">
			<i class="fa fa-refresh"></i> Load {$done->name} tasks
		</button>
		<button class="btn btn-task-section" id="bt-archive" onClick="archiveAll();" style="display: none;">
			<i class="fa fa-archive"></i> Archive tasks
		</button>
	</div>
</div>
<div class="row-fluid">
		<div class="widget table_basic_header span12">
		<header>
			<h3>{$archived->name}</h3>
		</header>
		<section class="sortable" id="task-list-{$archived->id}" data-status-id="{$archived->id}"></section>
		<button class="btn btn-task-section" onClick="viewArchived();">
			<i class="fa fa-eye"></i> View {$archived->name} tasks
		</button>
	</div>
</div>
