<div class="widget table_basic_header">
<header>
    <h3>Projects</h3>
    <ul class="toggle_content">
        <li class="arrow"><a href="#">Toggle Content</a></li>
    </ul>
</header>
<section>
     <table class="table_basic">
            {foreach $projects as $p}
            <tr {if $p@iteration is even}class="even"{/if}>
                <td class="pointer" onclick="viewProject('{$p->id}');">{$p->name}</td>
                <td><i class="fa fa-circle {if $p->active}active{else}inactive{/if}"></i></td>
            </tr>
            {/foreach}
    </table>
</section>
</div>
